<div class="create-page">
  <h1 class="complete">Your Idea is sinking into ocean...</h1>
  <p class="top"><%= link_to "back to top", root_path, class:"link2" %></p>
  <p class="index"><%= link_to "see your idea's ocean...",  ideas_path, class:"link2" %></p>
  <img src="/assets/float_bottle.png" class="bottle3" alt="bottle">
</div>