<div class="ocean">
    <div class="bottles">
      <img src="/assets/float_bottle.png" class="bottle2" alt="bottle">
      </div>
      <div class="bottles">
        <img src="/assets/float_bottle.png" class="bottle2" alt="bottle">
      </div>
  </div>