<div class="ocean">
<div class="bottles">
  <% @ideas.each do |idea| %>
    <div class="idea-image">
      <img src="/assets/float_bottle.png" class="bottle" alt="bottle">
        <div class="idea-info">
        <h3 class="idea-name">
        <%= link_to "#{idea.name}", idea_path(idea.id), class:"link", class:"idea-name" %>
        </h3>
      </div>
    </div>
  <% end %>
  </div>
  </div>

  
<div class="parent">
  <div class="child">
    <div class="next">
    </div>
  </div>
</div>