<div class="intro-background">
  <div class="intro-title">What is Private Idea Beach?</div>
</div>
<div class="introduction-box">
<p class="introduction">
ふと何か思いついたとき、ふとクリエイティブな発想が生まれたとき<br>
そんな雑多なヒラメキをメッセージボトルとして思考の海に投げ入れキープしておく<br>
あなただけのプライベートビーチ<br>
それが「Private Idea Beach」のコンセプトです<br>
<br>
もっとちゃんと言うのであれば<br>
思いついた何かを書き留め、管理する<br>
アイディア思考管理アプリです<br>
シンプルに。クールに。そんな思いで作成してみました<br>
<br>
どんなに小さなアイディア、思考でも残しておくことで<br>
何か別のアイディアと合わせたり、思考がまとまったり<br>
新しい発想の源になったりします<br>
またアイディアは誰か他のビーチ、海に流す（公開する）こともできます<br>
誰かからフィードバックをもらったり、誰かの発想から何かを着想することもあるかもしれません<br>
<br>
さぁ、あなただけのプライベートビーチから思考の海にダイブしましょう
</p>
</div>

<img src=/assets/intro.png class="intro-bottle">