<div class="new-posting2">

    <div>
      <ul class="new-menu-list">
        <li class="new-menu">Create Idea</li>
        <li class="new-menu">To your ocean</li>
        <li class="new-menu">Back to Top</li>
      </ul>
    </div>

    <div class="idea-form">
      <%= form_with(model: @idea, local: true) do |f| %>
      <%= f.text_field :name, placeholder:'new idea', class:"small-field" %>
      <%= f.text_area :description, placeholder:"idea description", class:"large-field" %>
      <%= f.submit "SEND", class:"send"%>
      <% end %>
    </div>

</div>
  <%# <img src="/assets/bottle5.png" class="new-bottle" alt="bottle"> %>
  <%# <img src="/assets/paper.png" class="paper" alt="paper"> %>

