<div class="show-page">
  <div class="show-idea">
    <h1 class="show-name"><%= @idea.name %></h1>
    <h3 class="description"><%= @idea.description %></h3>
  </div>

  <div class="show-menu">
    <ul class="show-menu-list">
      <li class="show-menu-each"><%= link_to "Edit", edit_idea_path(@idea.id), class:"link2" %></li>
      <li class="show-menu-each"><%= link_to "Delete", idea_path(@idea.id), method: :delete, class:"link2" %></li>
      <li class="show-menu-each">To your ocean</li>
    <ul>
</div>