<div class="top-page">
        <ul class="listing">
          <li class="menu">Throw Ideas Into Ocean</li>
          <li class="menu">See Your Idea's Ocean</li>
          <li class="menu">See Other's Ocean</li>
        </ul>
</div>
    <div class="circle"></div>