<div class="top-page">
        <ul class="listing">
          <li class="menu"><%= link_to "Throw Ideas Into Ocean", new_idea_path, class:"link" %></li>
          <li class="menu"><%= link_to "See Your Idea's Ocean",  ideas_path, class:"link" %></li>
          <li class="menu">See Other's Ocean</li>
        </ul>
</div>
    <div class="circle"></div>