body {
  font-family: "Rajdhani";
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

a { text-decoration: none;}



// indexのcss
header {
  height: 50px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  border: 1px solid rgb(155, 39, 155);
}

.heading{
  width: 50%;
  margin-left: 30px;
}

.title{
  font-size: 25px;
}

.navbar{
  width: 50%;
  padding-top: 10px;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 25px;
}


.main{
  color: white;
}

.top-page{
  width :100vw;
  height: 100vh;

  background-image: url("/assets/background1.png") ;
  background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
  background-position:center center;                     /* 画像の表示位置を指定  */
  background-size:contain;                               /* 画像のサイズを指定    */
  width:100%;                                            /* 横幅のサイズを指定    */
  height:100vh;                                          /* 縦幅のサイズを指定    */
  
  position: relative;
  z-index: 20;
}

.listing{
  list-style: none;
  position: absolute;
  top: 240px;
  left: 600px;
  
}


.menu{
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 70px;
  width: 300px;
  border: solid 2px rgba(138, 56, 170, 0.719);
  text-align: center;
}

.link{
  text-decoration: none;
  color: black;
}

.link2{
  text-decoration: none;
  color: white;
}


.copyright{
  color: #ffffff;
  position: absolute;
  margin-top: 670px;
  margin-left: 580px;
  width: 500px;
}

.circle{
  background: linear-gradient(rgb(228, 211, 139), rgb(106, 85, 201));
  
  width: 400px;/*幅*/
	height: 400px;/*高さ*/
  border-radius: 50%;/*角丸*/

  position: absolute;
  top: 55px;
  left: 170px;
  
  z-index: 10;
}

.pagenation{
  font-size: 30px;
  height: 40px;
  width: 300px;
  
  color: white;
  position: absolute;
  top: 10px;
  left: 1100px;

  a:link {color: #ffff;}
  a:visited { color: #ffffff; }
}


//hrom here index
.ocean{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, rgb(48, 21, 110) , rgba(141, 134, 185, 0.911) 700px); 
  position: relative;
}

.bottles{
  position: absolute;
  top: 15px;
  left: 220px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
    width: 70vw;
    min-width: 500px;
  
  // border: solid 1px white;
}
.bottle{
position: relative;
top: 50px;
width: 15vw;
height: 37vh;

margin-right: 30px;
margin-left: 30px;
// border: solid 1px white;
z-index: 10;
}

.idea-name{
  position: relative;
  color: white;
  width: 15vw;
  height: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  z-index: 20;
  // border: solid 1px white;
}

.menu1{
  font-size: 30px;
  text-decoration: none;
}



// from here, show
.show-page{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(42, 12, 126) , rgb(143, 101, 199) 500px); 
  color: white;
}

.show-name{
  font-size: 40px;
  border: solid 1px white;
  text-align: center;
  padding: 5px 10px;
}

.description{
  margin-top: 15px;
  white-space: pre-wrap;
  font-family: "serif";
}

.show-idea{
  position: absolute;
  top: 50px;
  left: 150px;

  height: 80vh;
}

.show-menu{
  height: 80vh;

  position: absolute;
  top: 140px;
  left: 1000px;
}

.show-menu-list{
  font-size: 60px;
  list-style: none;
}

.show-menu-each{
  margin-bottom: 70px;
}

.modal{
height: 50vh;
width: 70vw;

  position: fixed;
  top: 250px;
  left: 300px;

}

.choice{
  padding-left: 300px;
}

.yes-botton{
  padding-right: 40px;
}