.new-posting1{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgb(79, 48, 165) , rgb(255, 255, 255) 800px); 
}

.new-posting2{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, rgb(42, 12, 126) , rgb(255, 255, 255) 500px); 
}

.paper{
  width: 30%;
  height: 75%;
  position: relative;
}

.idea-form{
  
  position: absolute;
  top: 50px;
  left: 120px;
  
  width: 700px;
  height: 628px;
  background-color: rgb(240, 239, 243);
  

}

.small-field{
  width: 600px;
  height: 40px;
  background-color: rgb(240, 239, 243);

  margin-top: 40px;
  margin-left: 55px;

  display:block;


  border-bottom:1px solid #47307c;
  border-right:none;
  border-left:none;
  border-top:none;

  outline: 0;
}

.large-field{
  width: 600px;
  padding-bottom: 350px;
  

  background-color: rgb(240, 239, 243);
  
  line-height: 1.5em;
  
  margin-top: 40px;
  margin-left: 55px;

  display:block;


  border-bottom:1px solid #5433a1;
  border-right:none;
  border-left:none;
  border-top:none;

  outline: 0;

}

.new-bottle{
  width: 15%;
  height: 45%;

  position: absolute;
  top: 400px;
  left: 500px;
}

.send{
  display: block;
  border: none;
  margin-top: 10px;
  margin-left: 300px;
  outline: 0;

  color: #665596;
  font-size: 20px;
  
}

.new-menu-list{
  list-style: none;
  font-size: 50px;
  padding-top: 450px;
  padding-left: 900px;;
}

.new-menu{
  margin-bottom: 90px;

  color: #ffffff;
  
  border: solid 2px rgb(255, 255, 255);

  margin-right: 200px;

  text-align: center;
}

.wingpen{
  position: absolute;
  top: 20px;
  left: 900px;

  width: 20%;
  height: 50%;
}